.list{
    margin: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 244, 253);
    border: 2px solid rgb(36, 158, 165);
    padding: 5px;
}

.list-header{
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: rgb(36, 158, 165);
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    width: 50%;
}

.node-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-node{
    border-width: 0 2px 2px 2px;
    border-color: rgb(36, 158, 165);
    padding: 10px;
    transition: 200ms ease;
    width: 30%;
}

.add-node:hover{
    background-color: rgb(15, 71, 74);
    color: rgb(255, 255, 255);
}