.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: rgb(134, 134, 134);
    margin: 20px;
    padding: 5px;
}

.list-header{
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: inherit;
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    width: 50%;
}

.node-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-node{
    border-width: 0 2px 2px 2px;
    border-color: rgb(101, 101, 101);
    padding: 10px;
    transition: 200ms ease;
    width: 50%;
}

.add-node:hover{
    background-color: rgb(15, 71, 74);
    color: rgb(255, 255, 255);
}