body{
    margin: 0;
    padding: 0;
}

.dash-header{
    margin-left: 5rem;
}

.dashboard{
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects{
    margin: 20px;
    padding: 0px 20px 20px 20px;
    background-color: rgb(61, 244, 253);
    border: 2px solid rgb(36, 158, 165);
    border-radius: 10px;
    width: 20%;
    height: min-content;
}

.daily-tasks{
    margin: 20px;
    padding: 0px 20px 20px 20px;
    background-color: rgb(61, 244, 253);
    border: 2px solid rgb(36, 158, 165);
    border-radius: 10px;
    width: 25%;
}

.daily-tasks input{
    margin: 10px;
    border: 2px solid rgb(36, 158, 165);
    padding: 10px;
}

.add-task{
    border: 2px solid rgb(36, 158, 165);
    padding: 10px;
    transition: 200ms ease;
}

.add-task:hover{
    background-color: rgb(36, 158, 165);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.task{
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(36, 158, 165);
    width: 90%;
    transition: 200ms ease;
}

.task p{
    margin: 0;
    padding: 0;
    width: 100%;
}

.task:hover{
    background-color: green;
}