.project-node{
    margin: 20px;
    align-items: center;
    border: 1px solid black;
}

.project-link{
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.project-link:hover{
    color: white;
    background-color: black;
}