@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

body{
    margin: 0;
}

.head{
    position: relative;
    font-family: 'Taviraj', serif;
    padding: 20px;
    background-color: #5BF5FF;
}

.head p{
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 80px;
}

.head h1{
    font-size: 100px;
    font-weight: bold;
    text-shadow: 10px 5px rgba(0, 0, 0, 0.153);
    margin-left: 80px;
}

.head button{
    position: absolute;
    right: 100px;
    top: 200px;
    height: 100px;
    width: 450px;
    font-size: 40px;
    border-radius: 80px;
    background-color: #04C3FF;
    border: none;
    font-weight: bold;
    transition: 200ms ease;
}

.head button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #04C3FF;
    color: rgb(255, 255, 255);
}

.body h2{
    font-size: 55px;
    margin: 20px;
}

.features-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
