body{
    margin: 0;
    padding: 0;
}

.planner-header{
    margin-left: 5rem;
}

.today{
    margin-left: 5rem;
}

.add-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(36, 158, 165);
    background-color: rgb(61, 244, 253);
    transition: 200ms ease;
}

.add-btn:hover{
    background-color: rgb(36, 158, 165);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.task-editor{
    position: fixed;
    top: 50%;
    right: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
